.box {

    border: 4px soild lightgray;
    width: 100px;
    height: 100px;

}

.box-small {

    width: 50px;
    height: 50px;
    margin-left: 24px;
}

.box-wrapper{
    display: flex;
    align-items: center;
}

.conatiner {

    border: 4px solid lightgray;
    display: flex;
    justify-content: space-between;
    padding: 80px 24px 80px 24px;

}

*   {
    box-sizing: border-box;
}

.box {
    border: 4px solid black;
    width: 100px;
    height: 100px;
}

.conatiner {

    border: 4px soild black;
    padding: 24px 24px 0 24px;
    display: flex;


}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto -24 auto;
}

.title
{
    border: 2px soild black;
    width: 100%;
    height: 24px;
    margin-bottom: 24px;
}

.box {
    border: 4px soild black;
    width: 30%;
    height: 100px;
    margin-bottom: 24px;
}

.box-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container {
    border: 4px soild purple;
    padding: 24px 24px 0 24px;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 4px soild purple;
    margin-bottom: 24px;
}

.box-small{
    height: 50px;
}

.box-wrapper {
    width: 50%;
    padding-right: 24px;
}


.box-large {

    width: 50%;

}

.container {
    border: 4px soild purple;
    padding: 24px 24px 0 24px;
}

.row{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.box {
    border: 4px soild purple;
    margin-bottom: 24px;
}

.box-small{
    height: 50px;
}

.box-tiny {
    width: 30%;
    height: 50px;
}

.tiny-wrapper {

    display: flex;
    justify-content: space-between;


}


.box-wrapper {
    width: 50%;
    padding-right: 24px;
}


.box-large {

    width: 50%;

}

